<header class="application-header">
  <img src="/logo.svg" class="logo" alt="logo" />
  <h1 class="application-title">Welcome to <s> Ember </s><span class='overwrite'>fleetster University</span></h1>
</header>

{{outlet}}
